ul {
    list-style-type: none;
    margin: 22px 0 0 0;
    padding: 0;
}

li {
    display: inline;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

li.topright {
    float: right;
    padding-right: 15px;
}

li.topleft {
    padding-left: 15px;
}

li.bottomright {
    float: right;
    padding-right: 15px;
}

li.bottomleft {
    padding-left: 15px;
}

div.bottomnav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(237, 238, 239);
}

div.logo {
    text-align: center;
    position: relative;
    top: 158px;
    padding-bottom: 25px;
    left: 40px;
}

input[type=text] {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 158px;
    padding: 13px;
    box-sizing: border-box;
    border-radius: 25px;
    border-color: rgb(223, 225, 229);
    width: 550px;
}

div.submitbuttons {
    margin: 18px auto;
    position: relative;
    top: 158px;
    display: block;
    width: 250px;
}
input[type=submit] {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    box-sizing: border-box;
    padding: 10px;
    margin-right: 1px;
    border-radius: 5px;
    border-color: rgb(223, 225, 229);
}

input,
textarea,
button {
    border: 1px solid gray;
}

li, input[type=submit] {
    color: rgb(95, 99, 104);
}

#signin {
    background-color: rgb(66, 133, 244);
    color: white;
    border-radius: 2px;
    padding: 5px 10px;
    border-color: rgb(66, 133, 244);
    position: relative;
    bottom: 5px;
    border: 1px rgb(66, 133, 244) solid;
    margin-right: 15px;
}
